@model DayViewModel

<div class="text-center">
    <H3>Please Pick a Tour Time</H3>
</div>
<table class="table">
    <tbody>
        <tr>
            <th>Monday</th>
            @*Iterate through each day and populate all of the available time slots*@
            @foreach (var x in Model.Monday)
            {
                @*Create a button for each time slot. This button will pass the associated aptID if it is selected*@
                <td class="text-center">
                    <form asp-for="SignUp" method="post">
                        <input type="hidden" name="id" value="@x.AppointmentID" />
                        <button type="submit" class="btn btn-dark">
                            @($"{x.AppointmentTime}:00")
                        </button>
                    </form>
                </td>
            }
        </tr>
        <tr>
            <th>Tuesday</th>
            @foreach (var x in Model.Tuesday)
            {

                <td class="text-center">
                    <form asp-for="SignUp" method="post">
                        <input type="hidden" name="id" value="@x.AppointmentID" />
                        <button type="submit" class="btn btn-dark">
                            @($"{x.AppointmentTime}:00")
                        </button>
                    </form>
                </td>
            }
        </tr>
        <tr>
            <th>Wednesday</th>
            @foreach (var x in Model.Wednesday)
            {

                <td class="text-center">
                    <form asp-for="SignUp" method="post">
                        <input type="hidden" name="id" value="@x.AppointmentID" />
                        <button type="submit" class="btn btn-dark">
                            @($"{x.AppointmentTime}:00")
                        </button>
                    </form>
                </td>
            }
        </tr>
        <tr>
            <th>Thursday</th>
            @foreach (var x in Model.Thursday)
            {

                <td class="text-center">
                    <form asp-for="SignUp" method="post">
                        <input type="hidden" name="id" value="@x.AppointmentID" />
                        <button type="submit" class="btn btn-dark">
                            @($"{x.AppointmentTime}:00")
                        </button>
                    </form>
                </td>
            }
        </tr>
        <tr>
            <th>Friday</th>
            @foreach (var x in Model.Friday)
            {

                <td class="text-center">
                    <form asp-for="SignUp" method="post">
                        <input type="hidden" name="id" value="@x.AppointmentID" />
                        <button type="submit" class="btn btn-dark">
                            @($"{x.AppointmentTime}:00")
                        </button>
                    </form>
                </td>
            }
        </tr>
        <tr>
            <th>Saturday</th>
            @foreach (var x in Model.Saturday)
            {

                <td class="text-center">
                    <form asp-for="SignUp" method="post">
                        <input type="hidden" name="id" value="@x.AppointmentID" />
                        <button type="submit" class="btn btn-dark">
                            @($"{x.AppointmentTime}:00")
                        </button>
                    </form>
                </td>
            }
        </tr>
        <tr>
            <th>Sunday</th>
            @foreach (var x in Model.Sunday)
            {

                <td class="text-center">
                    <form asp-for="SignUp" method="post">
                        <input type="hidden" name="id" value="@x.AppointmentID" />
                        <button type="submit" class="btn btn-dark">
                            @($"{x.AppointmentTime}:00")
                        </button>
                    </form>
                </td>
            }
        </tr>
    </tbody>
</table>


